@model EmployeeManagementSystem.Models.Employee

@{
    ViewData["Title"] = "Details";
}
<p>
   <a asp-action="Index">Back</a>
</p>
<div class="active">
    <h4>Employee Detail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">Profile Photo</dt>
        <dt>
            <img class="col-sm-2" src="@Url.Content(Model.ImageUrl)" />
        </dt>
    </dl>
    <dl class="row">
        <dt class="col-sm-2 col-md-2">
            Name
        </dt>
        <dd class="col-sm-10 col-md-10">
            @Html.DisplayFor(model => model.FirstName) @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="col-sm-2 col-md-2">
            @Html.DisplayNameFor(model => model.Designation)
        </dt>
        <dd class="col-sm-10 col-md-10">
            @Html.DisplayFor(model => model.Designation)
        </dd>
        <dt class="col-sm-2 col-md-2">
            @Html.DisplayNameFor(model => model.Department)
        </dt>
        <dd class="col-sm-10 col-md-10">
            @Html.DisplayFor(model => model.Department.Name)
        </dd>
        <dt class="col-sm-2 col-md-2">
            @Html.DisplayNameFor(model => model.Salary)
        </dt>
        <dd class="col-sm-10 col-md-10">
            @Html.DisplayFor(model => model.Salary)
        </dd>
        <dt class="col-sm-2 col-md-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class="col-sm-10 col-md-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class="col-sm-2 col-md-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10 col-md-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2 col-md-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10 col-md-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2 col-md-2">
            @Html.DisplayNameFor(model => model.ShortCode)
        </dt>
        <dd class="col-sm-10 col-md-10">
            @Html.DisplayFor(model => model.ShortCode)
        </dd>
    </dl>
</div>

<p> Do you want to <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> ?</p>